  <div class="container" style="padding-top:25px;padding-bottom:25px">
    View the debugger to see the <strong>{{title}}</strong> page is being logged with google analytics without any code in the component
  </div>


  <div class="container">
    <div class="row">


      <button type="button" (click)="logError()" class="btn btn-default">Click to Track Error</button>

      <button type="button" (click)="logCustomEvent()" class="btn btn-default">Click to Track a Custom Event</button>
    </div>

  </div>


